mkdocs
mkdocs-autorefs
mkdocs-bootstrap386
mkdocs-bootswatch
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-rtd-dropdown
mkdocs-windmill-dark
mkdocstrings[python]
griffe