arrow==1.2.0
certifi==2021.10.8
inputs==0.5
keyboard==0.13.5
loguru==0.5.3
numpy==1.21.2
paho-mqtt==1.5.1
pkg-resources==0.0.0
python-dateutil==2.8.2
sentry-sdk==1.4.3
six==1.16.0
spidev==3.5
typing-extensions==3.10.0.2
urllib3==1.26.7
