/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709", "brcm,bcm2710";

	fragment@0 {
		target = <&spi0>;
		frag0: __overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
			status = "okay";
			// cs-gpios = <0>, <0>, <0>, <0>, <0>, <0>, <0>, <0>, <0>, <0>, <&gpio 0 1>, <&gpio 5 1>, <&gpio 6 1>, <&gpio 13 1>, <&gpio 19 1>, <&gpio 26 1>, <&gpio 1 1>, <&gpio 12 1>, <&gpio 16 1>, <&gpio 20 1>;
			cs-gpios = <0>, <0>, <&gpio 6 1>, <&gpio 13 1>, <&gpio 19 1>, <&gpio 26 1>, <&gpio 25 1>, <&gpio 1 1>, <&gpio 12 1>, <&gpio 16 1>, <&gpio 20 1>, <&gpio 21 1>, <&gpio 17 1>, <&gpio 27 1>, <&gpio 22 1>;
			// cs-gpios = <0>, <0>, <&gpio 0 1>, <&gpio 5 1>;

			spidev@2{
				compatible = "spidev";
				reg = <2>;	/* CE2 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@3{
				compatible = "spidev";
				reg = <3>;	/* CE3 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			
			spidev@4{
				compatible = "spidev";
				reg = <4>;	/* CE4 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@5{
				compatible = "spidev";
				reg = <5>;	/* CE5 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@6{
				compatible = "spidev";
				reg = <6>;	/* CE6 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};


			spidev@7{
				compatible = "spidev";
				reg = <7>;	/* CE7 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};


			spidev@8{
				compatible = "spidev";
				reg = <8>;	/* CE8 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@9{
				compatible = "spidev";
				reg = <9>;	/* CE9 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@10{
				compatible = "spidev";
				reg = <10>;	/* CE10 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@11{
				compatible = "spidev";
				reg = <11>;	/* CE11 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@12{
				compatible = "spidev";
				reg = <12>;	/* CE11 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@13{
				compatible = "spidev";
				reg = <13>;	/* CE11 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

			spidev@14{
				compatible = "spidev";
				reg = <14>;	/* CE11 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <500000>;
			};

		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			spi0_cs_pins: spi0_cs_pins {
				// brcm,pins = <0 5 6 13 19 26 1 12 16 20>;
				brcm,pins = <6 13 19 26 25 1 12 16 20 21 17 27 22>;
				brcm,function = <1>; /* out */
			};
		};
	};

	__overrides__ {
		cs2_pin = <&frag0>,"cs-gpios:12", <&spi0_cs_pins>,"brcm,pins:0";
		cs3_pin = <&frag0>,"cs-gpios:24", <&spi0_cs_pins>,"brcm,pins:4";
		cs4_pin = <&frag0>,"cs-gpios:36", <&spi0_cs_pins>,"brcm,pins:8";
		cs5_pin = <&frag0>,"cs-gpios:48", <&spi0_cs_pins>,"brcm,pins:12";
		cs6_pin = <&frag0>,"cs-gpios:60", <&spi0_cs_pins>,"brcm,pins:16";
		cs7_pin = <&frag0>,"cs-gpios:72", <&spi0_cs_pins>,"brcm,pins:20";
		cs8_pin = <&frag0>,"cs-gpios:84", <&spi0_cs_pins>,"brcm,pins:24";
		cs9_pin = <&frag0>,"cs-gpios:96", <&spi0_cs_pins>,"brcm,pins:28";
		cs10_pin = <&frag0>,"cs-gpios:108", <&spi0_cs_pins>,"brcm,pins:32";
		cs11_pin = <&frag0>,"cs-gpios:120", <&spi0_cs_pins>,"brcm,pins:36";
		cs12_pin = <&frag0>,"cs-gpios:132", <&spi0_cs_pins>,"brcm,pins:40";
		cs13_pin = <&frag0>,"cs-gpios:144", <&spi0_cs_pins>,"brcm,pins:44";
		cs14_pin = <&frag0>,"cs-gpios:156", <&spi0_cs_pins>,"brcm,pins:48";
	};
};